// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    @include transition-all;
    @include heading-font;
    background-color: $theme-primary;
    .navbar-nav {
        > li {
            > a {
                color: white;
                @include alt-font;
                border-bottom: 3px solid transparent;
                font-size: 13px;
                &.active {
                    border-bottom: 3px solid $theme-secondary;
                    border-radius: 2px;
                }
            }
        }
    }
    @media (min-width: 992px) {
        background-color: transparent;    
        color: white;
        &.navbar-shrink {
            background-color: white;
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: black;
            }
        }
    }
    .change-lang {
        padding: 2px;
        height: 38px;
    }
}
